@import "../mixins";

.wrapper__expenses {
    @include displayFlex($dir: column, $ai: left, $gap: 20px);
    margin-top: 4rem;

    &__input {
        input {
            padding: 10px;
            border-radius: 4px;
            width: 380px;
            font-size: 16px;
            margin-bottom: 30px;

            textarea:focus,
            &:focus {
                outline: none;
            }
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        padding: 10px 36px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        font-size: 20px;
        @include displayFlex($jc: space-between);

        &__price {
            background-color: blue;
            border-radius: 9px;
            padding: 7px 19px;
            color: white;
            font-size: 17px;
        }
    }
}